body {
    background-image: url('../project_background.jpg');
    background-repeat: no-repeat;
    width: auto;
    min-height: 100vh;
    /* object-fit: cover; */
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    overflow-x: hidden;
    color: white;
}

/* navbar styling */
#navbar {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    color: white;
    width: 100%;
}

#navbar .logo img {
    width: 184px;
    margin-left: 83px;
}

#navbar .logo h1 {
    font-size: 30px;
    line-height: 8px;
}

#navbar ul {
    display: flex;
    width: 788px;
    justify-content: center;
    margin-top: -55px;
    margin-left: -50px;
}

#navbar ul li {
    font-size: 1.2rem;
    list-style: none;
    transition: all 0.2s ease-in-out;
}

#navbar ul li:hover {
    transform: scale(1.1);
}

#navbar ul li a {
    padding: 4px 18px;
    color: white;
    text-decoration: none;
}

#navbar ul li a:hover {
    text-decoration: underline;
    color: rgb(189, 189, 189);
    box-shadow: 2px 2px 6px teal;
}

.Contact-Links {
    display: flex;
    position: absolute;
    right: 0px;
    margin-top: -73px;
}

.Contact-Links li {
    list-style: none;
}

.Contact-Links li a {
    margin: 4px 5px;
}

.btn {
    color: black;
    border: 2px solid white;
    border-radius: 7px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

/* BODY STYLING */

.cap {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    color: #4FC3F7;
    /* text-shadow: 0 0 12px rgba(0, 229, 255, 0.35); */
     text-shadow: 2px 2px 15px crimson;
    text-align: center;
    width: 991px;
    /* border: 2px solid white; */
    margin-left: 247px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2.7rem;
    text-align: center;
    color: #4FC3F7;
    text-shadow: 0 0 12px rgba(0, 229, 255, 0.35);
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 34px;
    margin-left: 491px;
    text-align: center;
    width: 494px;
    padding: 7px;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(0, 229, 255, 0.25);
    box-shadow: 4px 4px 25px white;
}


h2:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 25px red;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.112);
    /* border: 2px solid white; */
    border-radius: 36px;
    padding: 4px;
    justify-content: center;
    margin: 45px auto;
}

.container .event {

    width: 300px;
    margin: 96px;
    /* padding: 30px; */
    /* border: 2px solid white; */
    /* box-sizing: border-box; */
    height: 280px;
    /* transition: all 0.5s ease-in-out; */
}

.container .event h3 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 1.7rem;
    color: white;
    text-shadow: 2px 2px 15px crimson;
    transition: all 0.5s ease-in-out;
}

.container .event img {
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.container .event p::before {
    content: "";
    background-color: whitesmoke;
    border-radius: 30px;
    opacity: 0.18;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container .event p {
    /* border: 2px solid black; */
    font-family: "Baloo Bhaijaan 2", sans-serif;
    box-sizing: border-box;
    min-height: 180px;
    width: 100%;
    padding: 6px;
    position: relative;
    top: -189px;
    left: 9px;
    z-index: -1;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

/* .container .event p:hover{
transform: rotate(360deg);
}
.container .event img:hover{
   transform: rotate(360deg); 
} */
.container .event:hover {
    img {
         transform: translateX(-50%);
    opacity: 1;
    }

    p {
        transform: translateX(50%);
    opacity: 1;
    }

    h3 {
        /* transform: translateY(-300%); */
    }
}