* {
    margin: 0;
    padding: 0;
}

.bg_video {
    position: fixed;
    top: 0px;
    left: -219px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* navbar styling */
#navbar {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    color: white;
    width: 100%;
}

#navbar .logo img {
    width: 184px;
    margin-left: 94px;
}

#navbar .logo h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    line-height: 58px;
}

#navbar ul {
    display: flex;
    width: 788px;
    justify-content: center;
    margin-top: -60px;
    margin-left: -17px;
}

#navbar ul li {
    font-size: 1.2rem;
    list-style: none;
    transition: all 0.2s ease-in-out;
}

#navbar ul li:hover {
    transform: scale(1.1);
}

#navbar ul li a {
    padding: 4px 18px;
    color: white;
    text-decoration: none;
}

#navbar ul li a:hover {
    text-decoration: underline;
    color: rgb(189, 189, 189);
    box-shadow: 2px 2px 6px teal;
}

.Contact-Links {
    display: flex;
    position: absolute;
    right: 8px;
    margin-top: -73px;
}

.Contact-Links li {
    list-style: none;
}

.Contact-Links li a {
    margin: 4px 5px;
}

.btn {
    color: black;
    border: 2px solid white;
    border-radius: 7px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

/* HOME CONTENT STYLING */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    border: 2px transparent;
    border-radius: 11px;
    height: 250px;
    width: 600px;
    align-items: center;
    text-align: center;
    position: relative;
    top: 162px;
    left: 422px;
    transition: all 0.3s ease-in-out;
}

.hero::before {
    content: "";
    position: absolute;
    background-color: white;
    height: 250px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}

.hero h1 {

    font-size: 40px;
}

.hero .content {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.hero:hover {
    transform: scale(1.1);
}

.h_secondary {
    font-family: "Poppins", sans-serif;
    font-size: 33px;
}

/* PROJECT PAGE STYLING */
body {
    /* background-color: #0B132B; */
    background-image: url('../project_background.jpg');
    background-repeat: no-repeat;
    width: auto;
    min-height: 100vh;
    /* object-fit: cover; */
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    overflow-x: hidden;
    /* max-width: 1200px; */
}

#heading {
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    color: #4FC3F7;
    text-shadow: 0 0 12px rgba(0, 229, 255, 0.35);
    /* position: relative; */
    /* top: 42px; */
    margin-top: 58px;
    margin-left: 547px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    width: 443px;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(0, 229, 255, 0.25);
    box-shadow: 4px 4px 25px red;
}


#heading:hover {
    transform: scale(1.1);
}

.project .detail h2 {
   font-family: "Poppins", sans-serif;
    line-height: 63px;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 15px crimson;
}

.projects-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 20px;
    box-sizing: border-box;
    width: 95vw;
    row-gap: 74px;
    /* border: 2px solid white; */
    border-radius: 36px;
    background-color: rgba(255, 255, 255, 0.112);
    padding: 56px;
    padding-top: 83px;
    margin: auto;
    margin-top: 114px;
}

/* PROJECT CARD */
.project {
    position: relative;
    height: 373px;
    /* overflow: hidden; */
    border-radius: 14px;
    width: 426px;
    margin: auto;
    animation: pro 0.8s ease-in-out 0s 1 forwards;
}

@keyframes pro {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }

}

/* IMAGE */
.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 36px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
}

/* DETAIL BOX */
.detail::before {
    content: "";
    background-color: whitesmoke;
    border-radius: 30px;
    opacity: 0.18;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.detail {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 91%;
    /* background: rgba(0, 0, 0, 0.85); */
    color: #fff;
    padding: 20px;
    border-radius: 11px;
    transform: translateX(100%);
    opacity: 0;
    word-spacing: 0.5rem;
    text-align: center;
    align-items: center;
    transition: all 0.5s ease;
}

.detail .para {
    margin-top: 18px;
}

/* HOVER EFFECT */
.project:hover .project-img {
    transform: translateX(-40%);
}

.project:hover .detail {
    transform: translateX(45%);
    opacity: 1;
}

/* -------------------------------------TEAM PAGE STYLING STARTS------------------------------------------------ */

.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid white;
}
.team .member{
  border: 2px solid white;
    margin: 25px;
    width: auto;
    overflow: hidden;
    max-height: 415.5px;
    
}
.team .member img{
    width: 100%;
    height: 100%;
}