* {
    margin: 0;
    padding: 0;
}

.bg_video {
    position: fixed;
    top: 0px;
    left: -219px;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

/* NAVBAR STYLING */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    color: white;
}

#navbar .logo img {
    width: 166px;
    margin-left: 66px;
}

#navbar .logo h1 {
    font-size: 30px;
}

#navbar ul {
    display: flex;
    width: 788px;
    justify-content: center;
    margin-top: -40px;
}

#navbar ul li {
    font-size: 1.2rem;
    list-style: none;
    transition: all 0.2s ease-in-out;
}
#navbar ul li:hover{
    transform: scale(1.1);
}
#navbar ul li a {
    padding: 4px 18px;
    color: white;
    text-decoration: none;
}
#navbar ul li a:hover{
    text-decoration: underline;
    color: rgb(189, 189, 189);
    box-shadow: 2px 2px 6px teal;
}
.Contact-Links {
    display: flex;
    position: absolute;
    right: 8px;
    margin-top: -40px;
}

.Contact-Links li {
    list-style: none;
}

.Contact-Links li a {
    margin: 4px 5px;
}

.btn {
    color: black;
    border: 2px solid white;
    border-radius: 7px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    transition: all 0.2s ease-in-out;
}
.btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

/* HOME CONTENT STYLING */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    border: 2px transparent;
    border-radius: 11px;
    height: 250px;
    width: 600px;
    align-items: center;
    text-align: center;
    position: relative;
    top: 162px;
    left: 422px;
    transition: all 0.3s ease-in-out;
}
.hero::before{
    content: "";
    position: absolute;
    background-color: white;
    height: 250px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}
.hero h1{
    font-size: 40px;
}
.hero .content{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.hero:hover{
    transform: scale(1.1);
}
.h2_secondary{
    font-size: 33px;
}